{% extends 'SmirikCourseBundle::layout.html.twig' %}

{% block title %}{{ lesson.title}} - {{ lesson.course.title }}{% endblock %}

{% block header %}
    <a name="content"></a>
    {{ lesson.title }}
{% endblock %}

{% block breadcrumbs %}
    {% include "SmirikCoreBundle:Menu:breadcrumbs.html.twig" with {
        items: [
            {},
            {label: "Курсы", uri: path("course_index")},
            {label: lesson.course.title, uri: path("course_show", {id: lesson.course.id})},
            {label: lesson.title, uri: "#"},
        ]}
    %}
{% endblock %}


{% block container %}

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            
            <div class="accordion stacked" id="accordion_affix">
				<!-- first item -->
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            {{ 'Content'|trans }}
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body in" style="height: auto; ">
                        <div class="accordion-inner widget">
                            <ul class="icons-ul list-style">
                                <li><i class="icon-li icon-chevron-right"></i><a href="#content" data-toggle="tab">{{ 'Base content'|trans }}</a></li>
                                {% for text in additional_texts %}
                                    <li><a href="#text{{ text.id }}" data-toggle="tab"><i class="icon-li icon-align-justify"></i> {{ text.title }}</a></li>
                                {% endfor %}
                                <li><i class="icon-li icon-bookmark"></i><a href="#urls" data-toggle="tab">{{ 'Related links'|trans }}</a></li>
                                {% if questions|length > 0 %}
                                <li><i class="icon-question-sign icon-li"></i><a href="#questions" data-toggle="tab">{{ 'Related questions'|trans }}</a></li>
                                {% endif %}
                                <li><i class="icon-question-sign icon-li"></i><a href="#add_question" data-toggle="modal">{{ 'Add question'|trans }}</a></li>
                                <li><i class="icon-ok icon-li"></i><a href="#quiz" data-toggle="tab">{{ 'Quizes'|trans }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
				<!-- end first item -->

				<!-- second item -->
    			<div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle active" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">{{ 'Tasks'|trans }}</a>
                    </div>

                    <div id="collapseTwo" class="accordion-body in" style="height: auto; ">
                        <div class="accordion-inner widget">
                            <ul class="icons-ul list-style">
                                {% for task in tasks %}
                                    <li><i class="icon-tasks icon-li"></i><a href="#task{{ task.id }}" data-toggle="tab">
                                    {% if task.id in user_tasks|keys and user_tasks[task.id].finished == 3 %}<strike>{{ task.title }}</strike>{% else %}{{ task.title }}{% endif %}
                                    {% if user_tasks[task.id] is defined %}
                                    {% if user_tasks[task.id].rejected %}<span class="badge badge-important">{{ '!'|trans }}</span>
                                    {% elseif (user_tasks[task.id].pending) %}<span class="badge badge-warning"><i class="icon-time"> </i></span>
                                    {% endif %}
                                    {% endif %}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
				<!-- end second item -->
            </div>

            {% if status in (0..4) %}
                <hr>
                <div class="well">
                    {% if status == 2 %}
                        <a href="{{ path('lesson_action', {'action': 'finish', 'id': lesson.id }) }}" class="button large">{{ 'Finish lesson'|trans }}</a><br/>
                    {% endif %}
                    {% if status == 3 %}
                        {{ 'Finish tasks to complete the lesson'|trans }}
                    {% endif %}
                    {% if status == 4 %}
                        <a href="{{ path('lesson_action', {'action': 'close', 'id': lesson.id }) }}" class="button green large">{{ 'Close lesson'|trans }}</a>
                    {% endif %}
                    {% if status > -1 and status < 2 %}
                        <a href="{{ path('lesson_action', {'action': 'start', 'id': lesson.id }) }}" class="button large">{{ 'Start lesson'|trans }}</a><br/>
                    {% endif %}
                </div>
            {% endif %}
        </div>
        <div class="span9">
            {% block content %}
                <div class="tab-content no-border">
                    <div class="tab-pane active" id="content">
                        {% if mainslideshare %}
                            <h3>{{ mainslideshare.title }}</h3>
                            {{ mainslideshare.html|raw }}
                        {% endif %}
                        {% if maintext %}
                            {% include 'SmirikCourseBundle:Lesson/Content:text.html.twig' with {"text": maintext } %}
                        {% endif %}
                    </div>
                    {% for text in additional_texts %}
                        <div class="tab-pane" id="text{{ text.id }}">
                            {% include 'SmirikCourseBundle:Lesson/Content:text.html.twig' with {"text": text } %}
                        </div>
                    {% endfor %}

                    {% include 'SmirikCourseBundle:Lesson/Tab:urls.html.twig' with {"urls": lesson.urlcontents } %}
                    {% include 'SmirikCourseBundle:Lesson/Tab:questions.html.twig' with {"questions": questions, "lesson_id": lesson.id } %}
                    {% include 'SmirikCourseBundle:Lesson/Tab:quiz.html.twig' with {"quiz": quiz, "users_quiz": users_quiz, "lesson": lesson, 'status': status } %}
                    {% include 'SmirikCourseBundle:Lesson/Tab:tasks.html.twig' with {"tasks": tasks, 'tasks_forms': tasks_forms, 'user_tasks': user_tasks, "lesson": lesson } %}
                </div>

                <script type="text/javascript">
                    $(function(){
                        $("#affixed-menu-wrapper").affix();
                    })
                </script>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}