{% for task in tasks %}
  <div class="tab-pane" id="task{{ task.id }}">
    <h3>{{ task.title }}</h3>
    <blockquote>{{ task.text|raw }}</blockquote>
    <hr>
    {% if task.id in users_tasks|keys %}
    <div class="row-fluid">
      <div class="span9">
        {% if users_tasks[task.id].status == 0 or users_tasks[task.id].status == 2  %}
          <form class="form-horizontal task-form" action="{{ path('lesson_task_save', {'id': task.lessonId, 'task_id': task.id }) }}" {{ form_enctype(tasks_forms[task.id]) }} method="post" id="task_form{{ task.id }}">
            {{ form_row(tasks_forms[task.id].text) }} 
            {{ form_row(tasks_forms[task.id].url) }}
            {{ form_row(tasks_forms[task.id].file) }}
            {{ form_rest(tasks_forms[task.id]) }}
            <div class="well">
              <a href="#" class="btn task_form_submit" data-form-id="task_form{{ task.id }}">{{ 'Save'|trans }}</a>
              <button type="submit" href="#" class="btn btn-primary task_form_sent">{{ 'Done'|trans }}</button>
            </div>
          </form>
        {% else %}
          <div>
            <p>
            <strong>{{ 'Status'|trans }}</strong>: {% if users_tasks[task.id].status == 1 %}{{ 'Pending'|trans }}{% else %}{{ 'Accepted'|trans }}{% endif %} <br />
            <strong>{{ 'Your Answer'|trans }}</strong>: 
            <div class="well">
              {{ users_tasks[task.id].text|raw }}<br />
            </div>
            <strong>{{ 'Url'|trans }}</strong>: {{ users_tasks[task.id].url }}
            </p>
            {% if users_tasks[task.id].status == 3 %}
              <p>
              <strong>{{ 'Mark'|trans }}</strong>: {{ users_tasks[task.id].mark }}
              </p>
            {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="span3">
        <h4>{{ 'Reviews'|trans }}</h4>
        {% for review in users_tasks[task.id].UserTaskReviews %}
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ review.text|raw }} <br><small>{{ review.createdAt('Y-m-d H:i') }}</small>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      {{ 'Not avaliable'|trans }}
    {% endif %}
  </div>
{% endfor %}

<script language="Javascript">
$(document).ready(function() {
  $('form.task-form textarea').each(function(key, value){
		$(value).wysihtml5({
			"html": true, 
		});
	});
	
	$('a.task_form_submit').click(function (e) {
	  var form = $('#' + $(this).data('form-id'));
    $.post(form.attr('action'), form.serialize(),function(data){
    }, 'json');
	});

});
</script>
