{% for task in tasks %}
  <div class="tab-pane" id="task{{ task.id }}">
    <div id="save-alert-{{ task.id }}" class="alert alert-success hide">
        {{ 'Answer is saved'|trans }}!
    </div>
    <h3>
        {{ task.title }} 
            {% if task.id in user_tasks|keys %}
                {% if user_tasks[task.id].status == 1 %}<span class="label label-warning">{{ 'Pending'|trans }}</span>{% elseif user_tasks[task.id].status == 3 %}<span class="label label-success">{{ 'Accepted'|trans }}</span>{% elseif user_tasks[task.id].status == 0 %}<span class="label label-info">{{ 'In progress'|trans }}</span>{% elseif user_tasks[task.id].status == 2 %}<span class="label label-danger">{{ 'Rejected'|trans }}</span>{% else %}<span class="label label-info">{{ 'Failed'|trans }}</span>{% endif %}
            {% endif %}
    </h3>
    <blockquote>{{ task.text|raw }}</blockquote>
    <hr>
    {% if task.id in user_tasks|keys %}
    <div class="row-fluid">
      <div class="span9">
        {% if user_tasks[task.id].status == 0 or user_tasks[task.id].status == 2  %}
          <form class="form-horizontal task-form" action="{{ path('lesson_task_save', {'id': task.lessonId, 'task_id': task.id }) }}" {{ form_enctype(tasks_forms[task.id]) }} method="post" id="task_form{{ task.id }}">
            {{ form_row(tasks_forms[task.id].text) }} 
            {{ form_row(tasks_forms[task.id].url) }}
            {{ form_row(tasks_forms[task.id].file) }}
            {{ form_rest(tasks_forms[task.id]) }}
            <div class="well">
                <a href="{{ path('lesson_task_fail', {'id': task.lessonId, 'task_id': task.id }) }}" class="btn btn-danger">{{ 'Fail task'|trans }}</a>
                <a href="#" class="btn task_form_submit" data-id="{{ task.id }}" data-form-id="task_form{{ task.id }}">{{ 'Save'|trans }}</a>
                <button type="submit" href="#" class="btn btn-primary task_form_sent">{{ 'Send task'|trans }}</button>
            </div>
          </form>
        {% else %}
          <div>
                <strong>{{ 'Your Answer'|trans }}</strong>: 
                <div class="well">
                  {{ user_tasks[task.id].text|raw }}<br />
                </div>
                <strong>{{ 'Url'|trans }}</strong>: {{ user_tasks[task.id].url }}
                </p>
                {% if user_tasks[task.id].status == 3 %}
                  <p>
                  <strong>{{ 'Mark'|trans }}</strong>: {{ user_tasks[task.id].mark }}
                  </p>
                {% endif %}
          </div>
        {% endif %}
      </div>
      <div class="span3">
        <h4>{{ 'Reviews'|trans }}</h4>
        {% for review in user_tasks[task.id].UserTaskReviews %}
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ review.text|raw }} <br><small>{{ review.createdAt('Y-m-d H:i') }}</small>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      {{ 'Not avaliable'|trans }}
    {% endif %}
  </div>
{% endfor %}

<script language="Javascript">
$(document).ready(function() {
  $('form.task-form textarea').each(function(key, value){
		$(value).wysihtml5({
			"html": true, 
		});
	});
	
	$('a.task_form_submit').click(function (e) {
        var form = $('#' + $(this).data('form-id'));
        $.post(form.attr('action'), form.serialize(),function(data){}, 'json');
        $('#save-alert-'+$(this).data('id')).show();
	});

});
</script>
