{% extends 'SmirikCourseBundle::layout.html.twig' %}

{% block title %}{{ 'Courses'|trans }} {{ 'available'|trans }}{% endblock %}

{% block header %}
    {{ 'Courses'|trans }} <small>{{ 'available'|trans }}</small>
{% endblock %}

{% block content %}
    {% if my_courses|length > 0 %}
        <h3>{{ 'My courses'|trans }}</h3>
        {% include "SmirikCourseBundle:Course:_my_courses.cards.html.twig" with {courses: my_courses} %}
    {% endif %}

    {% if avaliable_courses|length > 0 %}
        <h3>{{ 'Available courses'|trans }}</h3>
        {% include "SmirikCourseBundle:Course:_available_courses.cards.html.twig" with {courses: avaliable_courses} %}
    {% endif %}

{% endblock %}
