{% extends 'SmirikCourseBundle::layout.html.twig' %}

{% block header %}
<h1>{{ 'Courses'|trans }} <small>{{ 'avaliable'|trans }}</small></h1>
{% endblock %}

{% block content %}
  {% if avaliable_courses|length > 0 %}
  <h3>{{ 'Avaliable courses'|trans }}</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{ 'N'|trans }}</th>
        <th>{{ 'Title'|trans }}</th>
        <th>{{ 'Description'|trans }}</th>
        <th></th>
      </tr>
    </thead>
    {% for course in avaliable_courses %}
      <tr>
        <td>{{ course.id }}</td>
        <td>{{ course.title }}</td>
        <td>{{ course.description|raw }}</td>
        <td><a href="{{ path('course_show', { "id": course.id }) }}" class="btn">{{ 'Start'|trans }}</a></td>
    {% endfor %}
  </table>
  {% endif %}
  
  {% if my_courses|length > 0 %}
  <h3>{{ 'My courses'|trans }}</h3>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>{{ 'N'|trans }}</th>
        <th>{{ 'Title'|trans }}</th>
        <th>{{ 'Description'|trans }}</th>
        <th>{{ 'Started at'|trans }}</th>
        <th></th>
      </tr>
    </thead>
    {% for course in my_courses %}
      {% for item in course.usercourses %}
        <tr class="{% if item.isPassed %}success{% endif %}">
          <td>{{ course.id }}</td>
          <td>{{ course.title }}</td>
          <td>{{ course.description|raw }}</td>
          <td>{{ item.startedAt('Y-m-d H:i') }}</td>
          <td>{% if not item.isPassed %}<a href="{{ path('course_show', { "id": course.id }) }}" class="btn">{{ 'Continue'|trans }}</a>{% endif %}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
  {% endif %}
  
  
{% endblock %}