{% extends 'SmirikCourseBundle::layout.html.twig' %}

{% block title %}{{ 'Courses'|trans }} {{ 'available'|trans }}{% endblock %}

{% block header %}
    {{ 'Courses'|trans }} <small>{{ 'available'|trans }}</small>
{% endblock %}

{% block content %}
    <ul class="nav nav-pills my-courses">
        <li class="active">
            <a href="#my-courses" data-toggle="pill">{{ 'My courses'|trans }}({{ my_courses|length }})</a>
        </li>
        <li>
            <a href="#available-courses" data-toggle="pill">{{ 'Available courses'|trans }}({{ avaliable_courses|length }})</a></li>
    </ul><br>

    <div class="pill-content">
        <div id="my-courses" class="pill-pane active">
        {% if my_courses|length %}
            {% for course in my_courses %}
                {% include "SmirikCourseBundle:Course/Block:my_course.html.twig" with {course: course} %}
            {% endfor %}
        {% else %}
            <p>{{ "You have no courses started"|trans }}</p>
        {% endif %}
        </div>

        <div id="available-courses" class="pill-pane">
        {% if avaliable_courses|length > 0 %}
            {% for course in avaliable_courses %}
                {% include "SmirikCourseBundle:Course/Block:course.html.twig" with {course: course} %}
            {% endfor %}
        {% else %}
            <p>{{ "No available courses found"|trans }}</p>
        {% endif %}
        </div>
    </div>

{% endblock %}
