{% extends 'SmirikCourseBundle::layout.html.twig' %}

{% block title %}{{ 'Courses'|trans }} {{ 'available'|trans }}{% endblock %}

{% block header %}
    {{ 'Courses'|trans }} <small>{{ 'available'|trans }}</small>
{% endblock %}

{% block breadcrumbs %}
    {% include "SmirikCoreBundle:Menu:breadcrumbs.html.twig" with {
        items: [
            {},
            {label: "Мой кабинет", uri: path("account_my")},
            {label: "Мои курсы", uri: "#"},
        ]}
    %}
{% endblock %}

{% block content %}
    <ul class="nav nav-tabs my-courses">
        <li class="active">
            <a href="#my-courses" data-toggle="pill">{{ 'My courses'|trans }} ({{ my_courses|length }})</a>
        </li>
        <li>
            <a href="#available-courses" data-toggle="pill">{{ 'Available courses'|trans }} ({{ avaliable_courses|length }})</a></li>
    </ul><br>

    <div class="pill-content">
        <div id="my-courses" class="pill-pane active">
            {% include "SmirikCourseBundle:Course/List:_courses.html.twig" with { 'my_courses': my_courses } %}
        </div>

        <div id="available-courses" class="pill-pane">
            {% include "SmirikCourseBundle:Course/List:_courses.html.twig" with { 'my_courses': avaliable_courses } %}
        </div>
    </div>

{% endblock %}
