{% for lesson in lessons %}
    {% if loop.index0 is divisibleby(3) or loop.index == 1 %}
        <div class="row-fluid" style="margin-bottom: 30px">
    {% endif %}

    <div class="span4">
        <h4 style="text-align: center;">{{ lesson.title }}</h4>
        <h6 style="text-align: right">{{ lesson.course.title }}</h6>
        <div class="overflow-hidden">
            <img alt="" src="{{ asset('/bundles/smirikcore/unify/img/carousel/'~random(4)~'.jpg') }}">
        </div>
        <p>Краткое описание курса, основные темы и моменты, которые будут обсуждаться, может какие-то ключевые теги, области и соседствующие технологии.</p>
        <a href="{{ path('lesson_index', {'id': lesson.id }) }}" class="btn-u btn-u-small">Смотреть курс</a>
        <small class="muted" style="float: right">{{ lesson.createdAt('d.m.Y')}}</small>
    </div>

    {% if loop.index is divisibleby(3) or loop.last %}
        </div>
    {% endif %}
{% endfor %}
